<div id="lesson" video_url="<%= @ko_lesson.video_url %>">
  <h1><%= @ko_lesson.template_name %></h1>
  <div id="in_game_player"></div>
  <%= render :partial => 'ko_lessons/edit_form', :locals => {:ko_lesson => @ko_lesson} %>
</div>