<section id="pledge">
	<%= render partial: 'pledges/form' %>
</section>
<%= clear %> 

<% content_for :javascripts do %> 
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey("<%= APP['stripe_publish_key'] %>");

    $(document).ready(function() {
    	FormFuncs.validatePledgeForm();
    });

  </script>
<% end %>
