<header id="content_header" class="highlighted_text dark">About the Film</header>
<section id="about" class="content">
	<div class="scrollable_area">
		<div class="column first">
			<p><i>The Biggest Story Problem</i> is an independent documentary film that explores a previously unexplained phenomenon: why students in the United States perform well in math in their elementary years, score about average until 8th grade, and then precipitously drop to the bottom tier in the world by 10th grade.</p>
			<p>With highlights from top-scoring Finland to an investigation of the largest textbooks in the world and how they affect students in our country, this is not a story of failure, but one of hope.</p>
		</div>
		<div class="column">
			<%= image_tag("students2.png", :id => "students") %>
			<p class="caption">Pilot Teacher Cristina Canales</p>
		  <p>From the perspective of one teacher-turned-game designer, Scott Laidlaw, you will meet the teachers and schools on the front-lines taking part in changing our nation's story of math education.</p>
		  <div>For more information:  <a href="/downloads/Press Kit - The Biggest Story Problem.pdf", title="The Biggest Story Problem - Press Kit" target="_blank">Press Materials</a></div>
		</div>
	</div>
</section>

