<section id="about" class="content">
	<header>About the Film</header>
	<div class="column first">
		<p>The Biggest Story Problem is an independent documentary film examining the sudden drop in math scores and competency seen as students in the U.S. transition from primary to secondary schools. From a global perspective, U.S. students typically score above average in elementary school, yet the U.S. ranks in the bottom tier of math scores for 15 year-old students.  Numerous studies have attributed this dramatic drop in competency to a “crowded curriculum” that’s “a mile wide and an inch deep.” Yet, despite these concerns, middle school math curriculum has yet to truly change.</p>
	</div>
	<div class="column">
	  <p>The documentary interweaves the story of New Mexico’s teacher-turned-game designer, Scott Laidlaw, creator of Ko’s Journey, an innovative online story-based math game; the stories of teachers and schools taking part in apilot program using Ko’s Journey to increase student engagement in math; and the broad-based story of math education in the U.S., contrasting it to countries, such as Finland, that consistently score in the top tier of the OCED.  The central message to the story is that our country is failing in math, and that may come down to a simple lack of meaning and purpose.</p>
	</div>
	<%= clear %>
	<div class="full_width">
	 <p>For more information:  <a href="/downloads/Press Kit - The Biggest Story Problem.pdf", title="The Biggest Story Problem - Press Kit" target="_blank">Press Materials</a></p> 
	</div>
</section>

