<header id="content_header" class="highlighted_text">Why America's Students Are Failing At Math</header>
<div id="video_section">
	<div id="demo_reel" class="play_trailer content_block video_trigger video_container">
		<%= image_tag("/images/demo_reel2.png") %>
	</div>
</div>