<header id="content_header" class="highlighted_text">Why America's Students Are Failing At Math</header>
<div id="video_section">
	<div id="demo_reel" class="play_trailer content_block video_trigger video_container">
		<%= image_tag("/images/demo_reel2.png") %>
	</div>
</div>
<div id="home_content">
	<div id="movie_credits"></div>
<!-- 	<header>Why America's Students Are Failing At Math</header>
	<p>
		The US has the largest math textbooks in the world, coming in at over 800 pages, offering students courses that are “a mile wide and an inch deep.” The typical Finnish textbook for secondary math is easily mistaken for a slim notebook. With emphasis on absolute mastery and small, approachable, kernels of knowledge, Finnish students approach math from perspective of confidence and understanding.
	</p>
	<p>
		When rating memorization as a strategy to learn mathematics, US depends on rote memorization as its number one strategy. Notably, Finland, Japan, Korea, Denmark, which all score at the top of the OECD math achievement scale, value memorization the least. Research indicates that memorization works only with less complex concepts, which may explain the grade drop in US scores at the middle school level.
	</p> -->
</div>
<%# content_for :footer do %>
<!-- 	<div id="main_content_footer">
		<div id="movie_credits"></div>
	</div> -->
<%# end %>