<div id="video_section">
	<div id="demo_reel" class="content_block video_trigger video_container" data-videourl="https://s3.amazonaws.com/imagineassets/generalvideos/bsp_demo_reel_2.mp4" data-videothumburl="">
		<%= image_tag("/images/demo_reel2.png") %>
	</div>
</div>
<section class="sub_section">
	<article id="about">
		<header>About Us</header>
		<p>Collaboratively generate holistic growth strategies for fully tested outsourcing. Compellingly iterate multimedia based interfaces via leading-edge interfaces. Conveniently disseminate innovative core competencies rather than best-of-breed methods of empowerment. Continually disseminate flexible value with goal-oriented convergence. Progressively deliver 24/365 networks with multifunctional communities. Phosfluorescently incubate functionalized networks vis-a-vis long-term high-impact e-business.</p>
	</article>
	<aside id="donation">
		<header>Pledge a Donation</header>
	</aside>
</section>


<% content_for :javascripts do %>
	<script>
   $(function() {
     Video.initVideos();
   });
	</script>
<% end %>