<section id="sponsor" class="content">
	<header>Sponsor the DVD</header>
	<div class="scrollable_area">
		<div class="column first">
			<p>The film production for <i>The Biggest Story Problem</i> was funded by a <a href="http://nextgenlearning.org" title="Next Generation Learning Challenges" target="_blank">Next Generation Learning Challenges</a> grant. As a widespread effort to change math education, we have set a goal to send a DVD to every public middle school in the United States!
			</p>
			<div class="pledge">
				<b>To pledge support,<br/>see our <a href="http://www.kickstarter.com/projects/1923314699/1146234773?token=87f13f95" title="Biggest Story Problem - Kickstarter Project">Kickstarter project</a>.</b>
			</div>
		</div>
		<div class="column">
			<%= link_to(image_tag("cover2.png", :id => "cover"), "http://www.kickstarter.com/projects/1923314699/1146234773?token=87f13f95") %>
		</div>
	</div>
</section>