<section id="sponsor" class="content">
	<header>Sponsor the DVD</header>
	<div class="column first">
		<p>The film will be completed in June 2012. Initial distribution efforts will be directed to schools and educational professionals, alongside screenings and dispersal at national and regional educator conferences.  While math teachers and administrators represent the primary target market, The Biggest Story Problem has a general audience appeal to all teachers and parents of students of any age as well as documentary enthusiasts concerned with educational issues.</p>
	</div>
	<div class="column">
	  <p>Imagine Education is seeking sponsorship for a specific purpose.  As the film production is entirely funded by the Next Generation Learning Challenges grant, we are looking to distribute professional development copies as an effort to reach every public middle school in the United States.</p>
	</div>
	<div class="full_width">
	  <p>To pledge support for this distribution initiative, see our <a href="http://www.kickstarter.com/projects/1923314699/1146234773?token=87f13f95" title="Biggest Story Problem - Kickstarter Project">Kickstarter project</a>.</p>
	</div>
</section>