<header id="content_header" class="highlighted_text dark">Sponsor a School</header>
<section id="sponsor" class="content">
	<div class="column first">
		<p>For a small donation of  $20.00 you can help us meet our goal by sponsoring a school and help middle school teachers and students by providing them with a copy of The Biggest Story Problem DVD.
		</p>
		<div class="pledge">
			<span>Sponsor our Kickstarter Project</span>
			<%= link_to "Sponsor Us", "http://www.kickstarter.com/projects/1923314699/1146234773?token=87f13f95", class: "button blue_button", title: "Biggest Story Problem - Kickstarter Project" %>
		</div>
	</div>
	<div class="column">
		<%= link_to(image_tag("dvd.png", :id => "cover"), "http://www.kickstarter.com/projects/1923314699/1146234773?token=87f13f95") %>
	</div>
</section>