/*************************************************************************************************************************************/
/*************************************************************************************************** HEADER **************************/
#mast_header {
	background: #6a7e9d; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7e9d 0%, #455165 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7e9d), color-stop(100%,#455165)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* IE10+ */
	background: linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7e9d', endColorstr='#455165',GradientType=0 ); /* IE6-9 */
}
#hd {
	position: relative;
	margin: 0px auto;
	height: 10px;
	padding: 10px 0px 19px;
	width: 600px;
	color: #CDD2DA;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 0px 1px 1px black;
}

/*************************************************************************************************************************************/
/*************************************************************************************************** CONTENT *************************/
body {overflow: hidden;}
#cloud1 {position: absolute; top: 580px; width: 400px; height: 90px; background: transparent url(../../images/clouds/cloud-1.png) 0px 0px no-repeat;}
#cloud2 {position: absolute; top: 200px; width: 500px; height: 192px; background: transparent url(../../images/clouds/cloud-2.png) 0px 0px no-repeat;}
#cloud3 {position: absolute; top: 54px; width: 800px; height: 455px; background: transparent url(../../images/clouds/cloud-3.png) 0px 0px no-repeat;}
#combined_segments {
	overflow: hidden;
	background: #8fafe3 url(../../images/cloud-bg2.png) -400px -813px repeat-x;
}
#header {
	position: relative;
	width: 960px;
	height: 60px;
	text-indent: -9999em;
	background: transparent url(../../images/movie_title.png) 0px 0px no-repeat;
}
#main_nav {
	position: relative;
	width: 600px;
	margin: 0px auto;
	float:none;
}
#main_nav li {
	position: relative;
	float:left;
	width: 140px;
	text-align: center;
}
#main_nav li.home {width: 72px;}
#main_nav li.trailer {width: 108px;}
#main_nav li a {
	position: relative;
	display:block;
	color: #bbceee;
	font-weight: 700;
	font-size: 16px;
	text-shadow: 0px 1px 1px #013359;
}
#main_nav li a:hover {
	color: #013359;
	text-shadow: 0px 1px 1px #bbceee;
}
#content_pane {
	position: relative;
	width: 100%;
}
#content_scroll {

}
#main_content_wrapper {
	position: relative;
	margin: 0px auto;
	width: 600px;
	height: 100%;
	background: transparent url(../../images/bsp-content-bg-600.png) 0px 0px no-repeat;
}
#left_hand {position: absolute; width: 90px; height: 140px; top: 430px; left: -38px; background: transparent url(../../images/left-hand.png) 0px 0px repeat-x; z-index: 10;}
#right_hand {position: absolute; width: 90px; height: 140px; top: 430px; right: -40px; background: transparent url(../../images/right_hand.png) 0px 0px repeat-x;z-index: 10;}
#main_content {
	position: relative;
	float:left;
	top: 346px;
	left: 0px;
	width: 600px;
	background: transparent url(../../images/paper-bg.png) 0px 0px repeat-y;
}
#sidebar {position: relative; float:left; border-right: 1px solid #ac8a57; width: 195px; min-height: 400px;}
#main_section {position: relative; float:left; width: 600px;padding-bottom: 56px;}
#main_content_footer {position: absolute; width: 700px; height: 200px; font-size:13px; bottom: 0px; left: 50%; text-align: center; color: #6a6450;margin-left: -355px;}
#main_content_footer a {color: #6a6450; font-family: serif;text-decoration: none;}
#main_content_footer a:hover {color: #6a6450;}
#mast_footer {
	position: fixed;
	bottom: 0px;
	height: 200px;
	width: 100%;
	background: transparent url(../../images/city-scape.png) 0px 0px repeat-x;
}
#mast_footer.home_page {
	background: transparent url(../../images/city-scape3.png) 0px 0px repeat-x;
	z-index: 200;
	height: 342px;
}
#main_footer {
	position: absolute;
	bottom: 0px;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	height: 23px;
	background: transparent url(../../images/paper-bg.png) 0px 0px no-repeat;
	font-size: 18px;
}
#video_section {
	position: relative;
	float:left;
	width: 600px;
	height: 357px;
	background: transparent url(../../images/video_section_bg.png) 0px 0px no-repeat;
}
#demo_reel {
	position: relative;
	float:left;
}
#demo_reel img {margin: 15px 11px;}

#home_content {
	position: relative;
	float: left;
	color: #6A6450;
}
#home_content header {font-size: 28px;text-align: center;width: 600px;padding: 10px 0px;}
#home_content p {
	position: relative;
	width: 280px;
	text-align: justify;
	padding: 10px;
	float: left;
}
#movie_credits {background: url(../../images/movie_credits2.png) 0px 5px no-repeat; width:600px;height: 145px;}
.home_page #movie_credits {background: url(../../images/movie_credits.png) 0px 45px no-repeat; width:700px;height: 300px;}

.play_trailer {cursor: pointer;}
.download_link {margin-bottom: 10px;}
#expose {position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.8); z-index: 1000; top: 0px; left: 0px;}
.ie8 #expose {background-color: #000000;}
#player_window {position: absolute; padding-top: 109px;top: 276px; left: 50%; width: 650px; height: 383px; margin-left: -332px; background: transparent url(../../images/video_modal_bg.jpg) 0px 0px no-repeat; z-index: 1001;}
#player_window.dynamic_height {top: 50%; margin-top: -235px;}
#player_window iframe {margin-top: 18px;}
#close_link {position: absolute; top: -15px; right: -20px; background: url(../../images/close.png); width: 28px; height: 28px;cursor: pointer;}

.sub_section, {position: relative; float: left; width: 600px;}
.sub_section article {position: relative; float: left; width: 390px; padding: 10px; border-right: 1px solid #6E5F44;}
.sub_section aside {position: relative; float: left; width: 169px; padding: 10px;}
.sub_section header {font-weight: 700; font-size: 18px; padding-bottom: 10px;}
.sub_section article header {width: 390px; }
.sub_section aside header {width: 169px;}

.sponsor_header {font-size: 25px;}
.sponsor_header span {color:#524D3D;}
#disc {margin-left:25%;}
.content {
	position: relative;
	float: left;
	margin-top: 20px;
	padding: 0px 50px;
	width: 495px;
}
.content header {width: 485px;font-size: 24px; font-weight: 700; margin-bottom: 20px;}
.content .column {
	position: relative;
	float: left;
	width: 230px;
}
.content .column.first {
	padding-right: 25px;
}
.full_width {width: 500px; margin-top: 20px;float:left;}
.content p {
	text-indent: 25px;
	font-size: 14px;
	line-height: 19px;
	margin: 0px 0px 10px;
	text-align: justify;
}
.content div {font-size: 13px;}
.content p a {
	/*color: #0088cc;*/
}

#counter {position: relative;text-align: center;font-size: 16px;font-weight: 700;}
#counter p {font-size: 19px;text-indent: 0px;text-align: left;line-height: 26px;margin-bottom: 26px;}
#counter p span {font-size: 32px;display: block; width: 100%;}
#pledge_boxes {position: relative; float: left; padding: 20px 0; border: 1px solid #524D3D; border-left: 0; border-right: 0;margin-bottom: 20px;}
#pledge_boxes ul li {font-size: 16px; font-weight: 700; text-align: center; width: 33%; float: left; list-style-type: none;}
#pledge_boxes ul li span {font-size: 32px;display: block; width: 100%;}
#pledge_boxes ul li.full_width { width: 100%;}

form .field {
	position: relative;
	float: left;
}
form .field.half_field {width: 225px;}
form .field.full_field {width: 460px;}
form .field.full_width {width: 600px;}
form .field.form_links {
	/*margin-top: -50px;*/
}
form .field.action {
	margin-top: 20px;
	float:right;
}
.card_info {float: left;margin-top: 15px;position: relative;}
#contact form .field input, form .field.half_field input,
#contact form .field select, form .field.half_field select,
#contact form .field textarea {width: 210px;}
#contact form .field.full_field textarea {width: 450px; height: 60px;}
#contact form .form_links div {padding-bottom: 10px;	height: 26px;}
form .field textarea {height: 80px;}
form .form_section .field textarea {width: 450px;}
.inline_field img {
	margin-left: 3px;
	margin-top: -2px;
}
.no_label {
	padding-top: 23px;
}
img#students, img#cover {margin-bottom: 10px;}
img#cover {margin: -15px 0px 0px;}
.content p.caption {color: #6A6450;font-weight: 700;font-size: 12px;font-style: italic; text-indent: 0px;}
.content div.pledge {font-size: 16px;}
.pledge span {display: block;margin-bottom: 10px;font-weight: 700;font-size: 15px;}

.facebook_link, .facebook_link span, .fb-like {position: relative; float: left;}
.facebook_link span {display: inline-block; margin-right: 5px;}
.imdb_link {position: relative;float: left;width: 216px;}
.imdb_link span {position: relative;float:left; display:block;}
.imdb_link a {position: relative;float:right;display: block;background: url(../../images/button-imdb.png) -6px -6px no-repeat;width: 66px;height: 35px;text-indent: -9999em;}
#kickstarter_logo {position: relative;float:left;display: block;background: url(../../images/kickstarter_button.png) 0 0 no-repeat;width: 216px;height: 50px;text-indent: -9999em;}
/*************************************************************************************************************************************/
/*************************************************************************************************** CLOUDS **************************/
/*Time to animate*/
/*.x1 {
	-webkit-animation: moveclouds 60s linear infinite;
	-moz-animation: moveclouds 60s linear infinite;
	-o-animation: moveclouds 60s linear infinite;
	opacity: 0.4;
}
.x2 {
	left: 1000px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	-webkit-animation: moveclouds 90s linear infinite;
	-moz-animation: moveclouds 90s linear infinite;
	-o-animation: moveclouds 90s linear infinite;
}
.x3 {
	left: -900px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8;
	-webkit-animation: moveclouds 180s linear infinite;
	-moz-animation: moveclouds 180s linear infinite;
	-o-animation: moveclouds 180s linear infinite;
}
@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}*/
/*************************************************************************************************************************************/
/*************************************************************************************************** BUTTONS *************************/
.button{position:relative;display:block;outline:none;cursor:pointer;text-align:center;text-decoration:none;font:14px/100% Arial,Helvetica,sans-serif;padding:10px 25px;text-shadow:0 1px 1px rgba(0,0,0,.3);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0px 6px rgba(0,0,0,.8);-moz-box-shadow:0 0px 6px rgba(0,0,0,.8);box-shadow:0 0px 6px rgba(0,0,0,.8);color:#fff;}
.button:hover{text-decoration:none;color:#fff;}
.large_button{padding:15px 45px;font-size:20px;color:white;text-shadow:0px 0px 5px #547329;font-weight:500;-moz-box-shadow:0px 0px 10px rgba(0,0,0,0.6);-webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.6);box-shadow:0px 0px 10px rgba(0,0,0,0.6);}
.red_button{background:#a80303;/* Old browsers */
background:-moz-linear-gradient(top,#a80303 0%,#7c0000 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#a80303),color-stop(100%,#7c0000));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#a80303 0%,#7c0000 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#a80303 0%,#7c0000 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#a80303 0%,#7c0000 100%);/* IE10+ */
background:linear-gradient(top,#a80303 0%,#7c0000 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80303',endColorstr='#7c0000',GradientType=0 );/* IE6-9 */
border:1px solid #590000;text-shadow:1px 1px 0px #590000;}
.red_button:hover{background:#cf0404;/* Old browsers */
background:-moz-linear-gradient(top,#cf0404 0%,#ff3019 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cf0404),color-stop(100%,#ff3019));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#cf0404 0%,#ff3019 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#cf0404 0%,#ff3019 100%);/* Opera11.10+ */
background:-ms-linear-gradient(top,#cf0404 0%,#ff3019 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf0404',endColorstr='#ff3019',GradientType=0 );/* IE6-9 */
background:linear-gradient(top,#cf0404 0%,#ff3019 100%);/* W3C */}
.blue_button{background:#54a2c3;/* Old browsers */
background:-moz-linear-gradient(top,#54a2c3 0%,#237ea6 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#54a2c3),color-stop(100%,#237ea6));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#54a2c3 0%,#237ea6 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#54a2c3 0%,#237ea6 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#54a2c3 0%,#237ea6 100%);/* IE10+ */
background:linear-gradient(top,#54a2c3 0%,#237ea6 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a2c3',endColorstr='#237ea6',GradientType=0 );/* IE6-9 */
border:1px solid #1f6d8f;text-shadow:1px 1px 0px #1f6d8f;}
.blue_button:hover{background:#38647f;/* Old browsers */
background:-moz-linear-gradient(top,#38647f 0%,#237ea6 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#38647f),color-stop(100%,#237ea6));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#38647f 0%,#237ea6 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#38647f 0%,#237ea6 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#38647f 0%,#237ea6 100%);/* IE10+ */
background:linear-gradient(top,#38647f 0%,#237ea6 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#38647f',endColorstr='#237ea6',GradientType=0 );/* IE6-9 */}
.purple_button{background:#7878cc;/* Old browsers */
background:-moz-linear-gradient(top,#7878cc 0%,#464677 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#7878cc),color-stop(100%,#464677));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#7878cc 0%,#464677 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#7878cc 0%,#464677 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#7878cc 0%,#464677 100%);/* IE10+ */
background:linear-gradient(top,#7878cc 0%,#464677 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7878cc',endColorstr='#464677',GradientType=0 );/* IE6-9 */
border:1px solid #3A3A63;text-shadow:1px 1px 0px #3A3A63;}
.purple_button:hover{background:#464677;/* Old browsers */
background:-moz-linear-gradient(top,#6161A5 0%,#464677 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#6161A5),color-stop(100%,#464677));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#6161A5 0%,#464677 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#6161A5 0%,#464677 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#6161A5 0%,#464677 100%);/* IE10+ */
background:linear-gradient(top,#6161A5 0%,#464677 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#6161A5',endColorstr='#464677',GradientType=0 );/* IE6-9 */}
.green_button{background:#5ea522;/* Old browsers */
background:-moz-linear-gradient(top,#a0c152 1%,#5ea522 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(1%,#2fc910),color-stop(100%,#299a0b));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#a0c152 1%,#5ea522 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#a0c152 1%,#5ea522 100%);/* Opera11.10+ */
background:-ms-linear-gradient(top,#a0c152 1%,#5ea522 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0c152',endColorstr='#5ea522',GradientType=0 );/* IE6-9 */
background:linear-gradient(top,#a0c152 1%,#5ea522 100%);/* W3C */
border:1px solid #55901F;text-shadow:1px 1px 0px #55901F;}
.green_button:hover{background:#85aa42;/* Old browsers */
background:-moz-linear-gradient(top,#85aa42 0%,#5ea522 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#85aa42),color-stop(100%,#5ea522));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#85aa42 0%,#5ea522 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#85aa42 0%,#5ea522 100%);/* Opera11.10+ */
background:-ms-linear-gradient(top,#85aa42 0%,#5ea522 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b',endColorstr='#5ea522',GradientType=0 );/* IE6-9 */
background:linear-gradient(top,#85aa42 0%,#5ea522 100%);/* W3C */}
.green_button.disabled,.green_button.disabled:hover{background:#eeeeee;/* Old browsers */
background:-moz-linear-gradient(top,#eeeeee 0%,#cccccc 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eeeeee),color-stop(100%,#cccccc));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#eeeeee 0%,#cccccc 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#eeeeee 0%,#cccccc 100%);/* Opera 11.10+ */
background:-ms-linear-gradient(top,#eeeeee 0%,#cccccc 100%);/* IE10+ */
background:linear-gradient(top,#eeeeee 0%,#cccccc 100%);/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee',endColorstr='#cccccc',GradientType=0 );/* IE6-9 */}
.orange_button{background:#ffa84c;/* Old browsers */
background:-moz-linear-gradient(top,#ffa84c 0%,#ff7b0d 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffa84c),color-stop(100%,#ff7b0d));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ffa84c 0%,#ff7b0d 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ffa84c 0%,#ff7b0d 100%);/* Opera11.10+ */
background:-ms-linear-gradient(top,#ffa84c 0%,#ff7b0d 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c',endColorstr='#ff7b0d',GradientType=0 );/* IE6-9 */
background:linear-gradient(top,#ffa84c 0%,#ff7b0d 100%);/* W3C */}
.orange_button:hover{background:#ff7b0d;/* Old browsers */
background:-moz-linear-gradient(top,#ff7b0d 0%,#ffa84c 100%);/* FF3.6+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff7b0d),color-stop(100%,#ffa84c));/* Chrome,Safari4+ */
background:-webkit-linear-gradient(top,#ff7b0d 0%,#ffa84c 100%);/* Chrome10+,Safari5.1+ */
background:-o-linear-gradient(top,#ff7b0d 0%,#ffa84c 100%);/* Opera11.10+ */
background:-ms-linear-gradient(top,#ff7b0d 0%,#ffa84c 100%);/* IE10+ */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b0d',endColorstr='#ffa84c',GradientType=0 );/* IE6-9 */
background:linear-gradient(top,#ff7b0d 0%,#ffa84c 100%);/* W3C */}
.webkit .green_button:before, .gecko .green_button:before{position:absolute;display:block;top:0px;left:0px;border-left:1px solid #a4cb82;border-top:1px solid #cbde9f;content:'';width:99%;height:32px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.webkit .purple_button:before, .gecko .purple_button:before{position:absolute;display:block;top:0px;left:0px;border-left:1px solid #7878CC;border-top:1px solid #8E8EF2;content:'';width:99%;height:32px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.webkit .blue_button:before, .gecko .blue_button:before{position:absolute;display:block;top:0px;left:0px;border-left:1px solid #83b6cc;border-top:1px solid #a0cbde;content:'';width:99%;height:32px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.webkit .red_button:before, .gecko .red_button:before{position:absolute;display:block;top:0px;left:0px;border-left:1px solid #b20101;border-top:1px solid #bc0505;content:'';width:99.9%;height:99.9%;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.webkit .large_button:before, .gecko .large_button:before{position:absolute;width:99%;height:48px;content:'';top:0px;left:0px;display:block;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.circle_close{background:url(/images/close.png) 0px 0px no-repeat;text-indent:-9999em;}
