/*************************************************************************************************************************************/
/*************************************************************************************************** HEADER **************************/
#mast_header {
	background: #6a7e9d; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a7e9d 0%, #455165 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a7e9d), color-stop(100%,#455165)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* IE10+ */
	background: linear-gradient(top,  #6a7e9d 0%,#455165 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a7e9d', endColorstr='#455165',GradientType=0 ); /* IE6-9 */
}
#hd {
	position: relative;
	margin: 0px auto;
	height: 10px;
	padding: 10px 0px 19px;
	width: 960px;
	color: #CDD2DA;
	font-size: 16px;
	font-weight: 700;
	text-shadow: 0px 1px 1px black;
}

/*************************************************************************************************************************************/
/*************************************************************************************************** CONTENT *************************/
body {overflow: hidden;}
#cloud1 {position: absolute; top: 580px; width: 400px; height: 90px; background: transparent url(../../images/clouds/cloud-1.png) 0px 0px no-repeat;}
#cloud2 {position: absolute; top: 200px; width: 500px; height: 192px; background: transparent url(../../images/clouds/cloud-2.png) 0px 0px no-repeat;}
#cloud3 {position: absolute; top: 25px; width: 800px; height: 455px; background: transparent url(../../images/clouds/cloud-3.png) 0px 0px no-repeat;}
#combined_segments {
	overflow: hidden;
	background: #8fafe3 url(../../images/cloud-bg2.png) -400px -813px repeat-x;
}
#header {
	position: relative;
	width: 960px;
	height: 60px;
	text-indent: -9999em;
	background: transparent url(../../images/movie_title.png) 0px 0px no-repeat;
}
#main_nav {
	position: relative;
	width: 800px;
	margin: 0px auto;
	float:none;
}
#main_nav li {
	position: relative;
	float:left;
	width: 200px;
	text-align: center;
}
#main_nav li a {
	position: relative;
	display:block;
	color: #bbceee;
	font-weight: 700;
	font-size: 16px;
	text-shadow: 0px 1px 1px #013359;
}
#main_nav li a:hover {
	color: #013359;
	text-shadow: 0px 1px 1px #bbceee;
}
#main_content_wrapper {
	position: relative;
	float:left;
	width: 960px;
	min-height: 650px;
	background: transparent url(../../images/bsp-content-bg2.png) 0px 0px no-repeat;
}
#left_hand {position: absolute; width: 90px; height: 140px; top: 375px; left: 40px; background: transparent url(../../images/left-hand.png) 0px 0px repeat-x; z-index: 10;}
#right_hand {position: absolute; width: 90px; height: 140px; top: 375px; right: 43px; background: transparent url(../../images/right_hand.png) 0px 0px repeat-x;z-index: 10;}
#main_content {
	position: absolute;
	top: 298px;
	left: 77px;
	width: 800px;
	background: transparent url(../../images/paper-bg.png) 0px 0px no-repeat;
}
#sidebar {position: relative; float:left; border-right: 1px solid #ac8a57; width: 195px; min-height: 400px;}
#main_section {position: relative; float:left; width: 604px; min-height: 400px;}
#main_content_footer {position: absolute; width: 800px; height: 20px; font-size:13px; bottom: 0px; left: 0px; text-align: center; color: #6a6450; background: transparent url(../../images/paper-bg.png) 0px 0px no-repeat;}
#main_content_footer a {color: #6a6450; font-family: serif;text-decoration: none;}
#main_content_footer a:hover {color: #6a6450;}
#mast_footer {
	position: fixed;
	bottom: 0px;
	height: 200px;
	width: 100%;
	background: transparent url(../../images/city-scape.png) 0px 0px repeat-x;
}
#demo_reel {
	position: relative;
	width: 585px;
	height: 326px;
}
#demo_reel img {margin: 10px;}
/*************************************************************************************************************************************/
/*************************************************************************************************** CLOUDS **************************/
/*Time to animate*/
.x1 {
	-webkit-animation: moveclouds 60s linear infinite;
	-moz-animation: moveclouds 60s linear infinite;
	-o-animation: moveclouds 60s linear infinite;
	opacity: 0.4;
}
/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
	left: 1000px;
	
	-webkit-transform: scale(0.6);
	-moz-transform: scale(0.6);
	transform: scale(0.6);
	opacity: 0.6;
	/*Speed will also be proportional to the size and opacity*/
	/*More the speed. Less the time in 's' = seconds*/
	-webkit-animation: moveclouds 90s linear infinite;
	-moz-animation: moveclouds 90s linear infinite;
	-o-animation: moveclouds 90s linear infinite;
}
.x3 {
	left: -900px;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0.8; /*opacity proportional to the size*/
	-webkit-animation: moveclouds 180s linear infinite;
	-moz-animation: moveclouds 180s linear infinite;
	-o-animation: moveclouds 180s linear infinite;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-moz-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
@-o-keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}