<ul id="main_nav" class="nav">
  <li>
    <%= link_to "Home", home_path, :class => "nav_link" %>
  </li>
  <li>
    <%= link_to "About the Film", about_path, :class => "nav_link" %>
  </li>
  <li>
    <%= link_to "Sponsor DVD", sponsor_path, :class => "nav_link" %>
  </li>
  <li>
    <%= link_to "Contact Us", contact_path, :class => "nav_link" %>
  </li>
</ul>